@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');



* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


/* button */
.btn_newGame {
  margin-left: 42%;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
}

button.newgame {
  margin: 5px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0081b000;
  border: none;
  cursor: pointer;
}

.btn-roll {
 margin-top: 520px;
 margin-left: 42%;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 2;
}



button.btn-rollDice {
    background-color: #0081b000;
    border: 1px solid #0081b000;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.btn-hold {
  margin-top: 620px;
  margin-left: 45%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

button.btn-btn-hold {
  background-color: #0081b000;
    border: 1px solid #0081b000;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* joueur1 */
main {
  display: flex;
  
 
}
.joueur1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  z-index: 0;
  width: 50%;
  height: 100vh;
  background: rgb(239, 239, 239);
}

p.joueur {
  font-size: 60px;
  padding-top: 160px;
}
div.score {
  padding: 10px;
  color: red;
  font-size: 110px;
}

.score-total {
  margin-top: 150px;
  padding: 25px;
  text-align: center;
  background: rgba(255, 5, 5, 0.952);
  border-radius: 1px;
  font-size: large;
  font-weight: 300;
}

.num-score_total {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 300;
}

/* joueur 2 */

.joueur2 {
 
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}